.example-form-field {
    width: 90vw;
}

@media only screen and (min-width: 481px) and (max-width: 1023px){ 
    .example-form-field {
        width: 50vw;
    }
}

@media only screen and (min-width: 1024px) {
    .example-form-field {
        width: 40vw;
    }

}
