<mat-card>
    <div class="infover">
        <h1 class="info"><fa-icon [icon]="['fas','info-circle']"></fa-icon> Información sobre la aplicación</h1>
        <h4>Versión 2.0</h4>
    </div>
    
    <h4>
        Esta es una aplicación donde podras ver los anuncios publicados
        y de importancia general, entre otras cosas... esperamos que le puedan sacar el mayor provecho y la disfruten,
        iremos incluyendo mas funcionalidades con el tiempo... mas abajo podrá encontrar algunas sugerencias
        o ayudas para utilizar ciertas funciones.
    </h4>
    <h2>Como instalar la aplicación en tu teléfono o computadora</h2>
    <h3><strong>Windows:</strong> Donde sueles escribir el enlace en el buscador, en la parte izquierda
    veras un icono que dice "Instalar" solo tocalo y te aparecera un mensaje, presiona instalar de nuevo
    y listo tendras esta pagina como una aplicación en tu computadora.</h3>

    <h3><strong>Android:</strong> Una ves que entres a la pagina tu telefono te preguntara si deseas instalar
    la aplicación, solo dale que si estas de acuerdo y listo, se incluira entre las aplicaciones de tu telefono.</h3>

    <h3><strong>Iphone (safari):</strong> Presiona en el icono de "Una flecha apuntando hacia arriba" 
        que esta abajo en el buscador de safari, desliza hacia abajo y entre todas las opciones veras una que dice
    "Agregar al inicio" presiona ahí veras como se verá tu aplicacion y luego simplemente presiona en 
    "Agregar" y listo la tendras en tu pantalla de inicio.</h3>

    <h2>Historial de Versiones</h2>


    <div class="works">
        <mat-accordion>
            <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="expandtitle">Versión 2.0</h3>
                </mat-panel-title>
                <mat-panel-description>
                    (03/03/2022)
                </mat-panel-description>
            </mat-expansion-panel-header>
        
            <h3>
                Anunciamos la introducción de los registros teléfonicos (Solo para usuarios registrados)
    
                <ul>
                    <li>Se ha introducido la función de Registros Teléfonicos y las novedades que esta incluye (Para usuarios registrados)</li>
                    <li>Se han cambiado algunos iconos y diseños para hacerlos mas agradables a la vista</li>
                    <li>Los anuncios importantes ahora aparecen de primero en la lista de anuncios</li>
                    <li>Se han añadido pantallas de carga en diversas secciones de la aplicación</li>
                    <li>Se ha solucionado un error que hacia que si entrabas al enlace de un anuncio antiguo la pantalla se quedara en blanco</li>
                    <li>Se ha solucionado un error con la URL al editar los anuncios</li>
                    <li>Otras correciones de errores y mejoras...</li>
                </ul>
            </h3>

            </mat-expansion-panel>
        </mat-accordion>
    </div>


    <div class="works">
        <mat-accordion>
            <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="expandtitle">Versión 1.0</h3>
                </mat-panel-title>
                <mat-panel-description>
                    (17/02/2022)
                </mat-panel-description>
            </mat-expansion-panel-header>
        
            <h3>
                Este es el lanzamiento de nuestra aplicación, por lo que incluiremos algunas funciones disponibles:
    
                <ul>
                    <li>Puedes ver los anuncios publicados</li>
                    <li>Anucios con imagenes (Esto ayudará a dar una idea mas clara de lo que se está anunciando)</li>
                    <li>Anucios con enlaces (Algunos anuncios incluiran enlaces que ayudaran a acceder a referencias
                        o informacion de paginas externas asi como descargar archivos )</li>
                    <li>Instala el sitio como una aplicación para acceder a el facilmente</li>
                    <li>Filtrado de anuncios para que puedas buscar los anuncios que nesecitas en "Buscar Anuncio"</li>
                    <li>Otras mejoras proximamente...</li>
                </ul>
            </h3>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <h3>
        <strong>Nota:</strong> Queremos seguir mejorando por lo que agradecemos si nos 
        comparten errores o problemas durante el uso de la aplicación.
    </h3>

</mat-card>
