<div (onload)='verifysession()'></div>

<nav class="navbar" #navbar (mouseenter)="mobilemenuappear()" (mouseleave) ="mobilemenudisappear()">
    <ul class="navbar-nav">
        
        <li class="logo" #logo (click)='verifysession()'>
            <div class="nav-link nav-link2">
                <span class="link-text" #linktext>Opciones</span>
                <fa-icon [icon]="['fas','caret-square-left']"></fa-icon>
            </div>
        </li>

        <li class="nav-item mobilesearch" *ngIf="navInfo.search == true" >
            <a href="#" class="nav-link">
                <app-search-notice *ngIf="navInfo.search == true" (search)="handleSearch($event)"></app-search-notice>
            </a>
        </li>

        <li class="nav-item">
            <a href="{{navigateURL}}/" class="nav-link" #tab>
                <fa-icon [icon]="['fas','th']"></fa-icon>
                <span class="link-text" #linktext>Anuncios</span>
            </a>
        </li>
        <li *ngIf="admintype" class="nav-item">
            <a href="{{navigateURL}}/llamadas/iniciar" class="nav-link" #tab>
                <fa-icon [icon]="['fas','phone']"></fa-icon>
                <span class="link-text" #linktext>Llamadas</span>
            </a>
        </li>
        <li *ngIf="!admintype" class="nav-item">
            <a href="{{navigateURL}}/ingresar" class="nav-link" #tab>
                <fa-icon [icon]="['fas','sign-in-alt']"></fa-icon>
                <span class="link-text" #linktext>Iniciar Sesión</span>
            </a>
        </li>
        <li *ngIf="!admintype" class="nav-item">
            <a href="{{navigateURL}}/registarse" class="nav-link" #tab>
                <fa-icon [icon]="['fas','pencil-alt']"></fa-icon>
                <span class="link-text" #linktext>Registarme</span>
            </a>
        </li>


        <li *ngIf="admintype === 'Normal' || admintype == 'Total'" class="nav-item">
            <a href="{{navigateURL}}/nuevo/anuncio" class="nav-link" #tab>
                <fa-icon [icon]="['fas','feather']"></fa-icon>
                <span class="link-text" #linktext>Publicar Anuncio</span>
            </a>
        </li>
        <li *ngIf="admintype === 'Normal' || admintype == 'Total'" class="nav-item">
            <a href="{{navigateURL}}/ver/registros" class="nav-link" #tab>
                <fa-icon [icon]="['fas','book']"></fa-icon>
                <span class="link-text" #linktext>Ver Registros</span>
            </a>
        </li>
        <li *ngIf="admintype" class="nav-item">
            <a href="{{navigateURL}}/perfil/personal" class="nav-link" #tab>
                <fa-icon [icon]="['fas','user-tag']"></fa-icon>
                <span class="link-text" #linktext>Mi perfil</span>
            </a>
        </li>
        <li *ngIf="admintype == 'Total'" class="nav-item">
            <a href="{{navigateURL}}/modificar/codigos" class="nav-link" #tab>
                <fa-icon [icon]="['fas','key']"></fa-icon>
                <span class="link-text" #linktext>Editar Codigos</span>
            </a>
        </li>
        <li *ngIf="admintype" class="nav-item">
            <a href="#" class="nav-link" (click)='logout()' #tab>
                <fa-icon [icon]="['fas','sign-out-alt']"></fa-icon>
                <span class="link-text" #linktext>Cerrar Sesión</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{navigateURL}}/info/app/versions" class="nav-link" #tab>
                <fa-icon [icon]="['fas','info-circle']"></fa-icon>
                <span class="link-text" #linktext>Información</span>
            </a>
        </li>
    </ul>
</nav>

<div class="topbar">
    <div class="menuicon">
        <fa-icon class="menuicon" [icon]="['fas','bars']" (click)="mobilemenuappear()"></fa-icon>
    </div>
    <div class="leftspace topspace">
        <img src="../../assets/images/logo.png" alt="logo" class="logoimg"/>
        <h1 class="navtitle">{{navInfo.title}}</h1>
    </div>
    <div class="middlespace topspace">
        
        <div class="searchimp">
            <app-search-notice *ngIf="navInfo.search == true" (search)="handleSearch($event)"></app-search-notice>
        </div>
    </div>
    <div class="rightspace topspace">
        <h2 class="profilename" *ngIf="navInfo.profile == true && userinfo.firstname">{{userinfo.firstname}} {{userinfo.lastname}}</h2>
        <h2 class="profilename" *ngIf="navInfo.profile == true && !userinfo.firstname">Cuenta</h2>
        <img (click)="profileshow()" *ngIf="navInfo.profile == true " src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png" alt="profilepic" class="profilepic"/>
    </div>
</div>

<div class="profileinfo"  *ngIf="userinfo.firstname" #profileinfo >
        <img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png" alt="profilepic" class="profilepic2"/>
        <h1>{{userinfo.firstname}} {{userinfo.lastname}}</h1>
        <h2>Acceso: {{userinfo.admintype}}</h2>
        <h3>
            <a href="{{navigateURL}}/perfil/personal">
                Ver mi Perfil
            </a>
        </h3>
</div>
<div class="profileinfo" *ngIf="!userinfo.firstname" #profileinfo >
        <h1 class="noaccicon">📣🎟️</h1>
        <h1 style="text-align: center;" class="noacc">Parece que no hay ninguna cuenta vinculada</h1>
        <h3 class="logingto">
            <a href="{{navigateURL}}/ingresar">
                Inicia Sesión
            </a>
            <span>o</span>
            <a href="{{navigateURL}}/registarse">
                Registrate
            </a>
        </h3>
</div>
<div class="background" #background (click)="mobilemenudisappear()"></div>


