mat-card{
    margin: 10px;
    text-align: center;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.options a button{
    width: auto;
    height: 40px;
    font-size: 15px;
    vertical-align: middle;
    background-color: #003367;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 481px) and (max-width: 1023px){ 

    mat-card{
        width: 60vw;
    }
}

@media only screen and (min-width: 1024px){ 
    mat-card{
        width: 60vw;
    }
}