mat-expansion-panel{
    margin: 3px;
}

mat-panel-description{
    width: 50px;
}

.loading{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.loading mat-card{
    width: 85vw;
}

.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.bottominfo p{
    margin: 0;
}

.bottominfo{
    background-color: rgb(202, 202, 202);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.config{
    display: flex;
    justify-content: center;
    margin: 10px;
}

button{
    transition: 300ms ease;
        -webkit-transition: 300ms ease;
        -moz-transition: 300ms ease;
        -ms-transition: 300ms ease;
        -o-transition: 300ms ease;
}

button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.config button{
    width: 50vw;
    height: 40px;
    font-size: 20px;
    background-color: #003367;
}

.config{
    text-decoration: none;
}


@media only screen and (min-width: 481px) and (max-width: 1023px){ 
    
    .welcome{
        height: 4.3rem;
    }

    .loading{
        display: flex;
        justify-content: center;
    }

    .loading mat-card{
        width: 60vw;
    }

    .config button{
        width: 30vw;
    }


}

@media only screen and (min-width: 1024px) {

    .welcome{
        height: 4.3rem;
    }

    .loading{
        display: flex;
        justify-content: center;
    }

    .loading mat-card{
        width: 50vw;
    }

    .config button{
        width: 20vw;
    }

    .config{
        justify-content: flex-start;
        margin-left: 30px;
    }

    .num{
        margin: 0px 25px;
    }
}