

<div class="paginator">
    <mat-paginator class="mp1" [length]="numbers.length"
                    [pageSize]="page_size"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="handlePage($event)"
                    aria-label="Select page"
                    hidePageSize="true"
                    showFirstLastButtons>
    </mat-paginator>
</div>

<mat-card class="num" *ngFor="let number of numbers | searchN: filter_value | pagination: page_size:page_number" >
    {{number.number}}
    {{number.publisher}}
</mat-card>