<mat-card class="main">
    <h1>Actualizar Codigos</h1>
    
    
    
    <div class="items">
        <mat-card>
            <h3>Codigo de Acceso Total</h3>
        
            <div class="msj">
                {{totalmsj.empty}}
                {{totalmsj.codelen}}
                <span>{{totalmsj.success}}</span>
                {{totalmsj.codeUsed}}
                {{totalmsj.wrongoldcode}}
                {{totalmsj.problem}}
            </div>
        
                <form (submit)='updateTotal($event)'>
                <div class="forminput">
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Código anterior</mat-label>
                            <input type="email" matInput [formControl]="lastcodeTFormControl" [errorStateMatcher]="matcher"
                                placeholder="Ej. Anuncio Publico" name="oldcode" [(ngModel)]="totalcode.oldcode">
                            <mat-hint>Inserta el código anterior</mat-hint>
                            <mat-error *ngIf="lastcodeTFormControl.hasError('minlength') && !lastcodeTFormControl.hasError('required')">
                                Usa mínimo 5 caracteres
                            </mat-error>
                            <mat-error *ngIf="lastcodeTFormControl.hasError('required')">
                                El código anterior es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Código nuevo</mat-label>
                            <input type="email" matInput [formControl]="codeTFormControl" [errorStateMatcher]="matcher"
                                placeholder="Ej. Anuncio Publico" name="newcode" [(ngModel)]="totalcode.newcode">
                            <mat-hint>Inserta el código nuevo</mat-hint>
                            <mat-error *ngIf="codeTFormControl.hasError('minlength') && !codeTFormControl.hasError('required')">
                                Usa mínimo 5 caracteres
                            </mat-error>
                            <mat-error *ngIf="codeTFormControl.hasError('required')">
                                El código nuevo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
        
                <div class="space">
                    <button mat-raised-button color="primary">Actualizar</button>
                </div>
            </form>
            
        </mat-card>
        
        <mat-card>
        
            <h3>Codigo de Acceso Normal</h3>
        
            <div class="msj">
                {{normalmsj.empty}}
                {{normalmsj.codelen}}
                <span>{{normalmsj.success}}</span>
                {{normalmsj.codeUsed}}
                {{normalmsj.wrongoldcode}}
                {{normalmsj.problem }}
            </div>
        
        <form (submit)='updateNormal($event)'>
            <div class="forminput">
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Código anterior</mat-label>
                        <input type="email" matInput [formControl]="lastcodeNFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ej. Anuncio Publico" name="oldcode2" [(ngModel)]="normalcode.oldcode">
                        <mat-hint>Inserta el código anterior</mat-hint>
                        <mat-error *ngIf="lastcodeNFormControl.hasError('minlength') && !lastcodeNFormControl.hasError('required')">
                            Usa mínimo 5 caracteres
                        </mat-error>
                        <mat-error *ngIf="lastcodeNFormControl.hasError('required')">
                            El código anterior es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Código nuevo</mat-label>
                        <input type="email" matInput [formControl]="codeNFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ej. Anuncio Publico" name="newcode2" [(ngModel)]="normalcode.newcode">
                        <mat-hint>Inserta el código nuevo</mat-hint>
                        <mat-error *ngIf="codeNFormControl.hasError('minlength') && !codeNFormControl.hasError('required')">
                            Usa mínimo 5 caracteres
                        </mat-error>
                        <mat-error *ngIf="codeNFormControl.hasError('required')">
                            El código nuevo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        
            <div class="space">
                <button mat-raised-button color="primary">Actualizar</button>
            </div>
        </form>
        
        </mat-card>
        
        <mat-card>
        
            <h3>Codigo de Registros</h3>
        
            <div class="msj">
                {{registermsj.empty}}
                {{registermsj.codelen}}
                <span>{{registermsj.success}}</span>
                {{registermsj.codeUsed}}
                {{registermsj.wrongoldcode}}
                {{registermsj.problem }}
            </div>
        
        <form (submit)='updateRegister($event)'>
            <div class="forminput">
                <div>
        
                    <div>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Código anterior</mat-label>
                            <input type="email" matInput [formControl]="lastcodeRFormControl" [errorStateMatcher]="matcher"
                                placeholder="Ej. Anuncio Publico" name="oldcode2" [(ngModel)]="registercode.oldcode">
                            <mat-hint>Inserta el código anterior</mat-hint>
                            <mat-error *ngIf="lastcodeRFormControl.hasError('minlength') && !lastcodeRFormControl.hasError('required')">
                                Usa mínimo 5 caracteres
                            </mat-error>
                            <mat-error *ngIf="lastcodeRFormControl.hasError('required')">
                                El código anterior es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div>
        
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Código nuevo</mat-label>
                        <input type="email" matInput [formControl]="codeRFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ej. Anuncio Publico" name="newcode2" [(ngModel)]="registercode.newcode">
                        <mat-hint>Inserta el código nuevo</mat-hint>
                        <mat-error *ngIf="codeRFormControl.hasError('minlength') && !codeRFormControl.hasError('required')">
                            Usa mínimo 5 caracteres
                        </mat-error>
                        <mat-error *ngIf="codeRFormControl.hasError('required')">
                            El código nuevo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        
            <div class="space">
                <button mat-raised-button color="primary">Actualizar</button>
            </div>
        </form>
        
        
        </mat-card>
    </div>

</mat-card>