<main>
    <mat-card>
        <div class="fullNotice">
            <div class="image">
                <img class="images" (click)="imgfull()" *ngIf="notice.picture" src="https://tablero-a-api.herokuapp.com/notices/notice/image/{{notice.picture}}" alt="Imagen de esta publicacion"/>
                <img class="images" *ngIf="!notice.picture" src="https://images.assetsdelivery.com/compings_v2/provector/provector1501/provector150100121.jpg"/>
            </div>
            <div class="information">
                <div class="info">
                    <p class="importance" *ngIf="notice.importance">
                        <fa-icon class="importance" [icon]="['fas','exclamation-circle']" style="font-size: 35px; margin-right: 10px;"></fa-icon>
                        Importante
                    </p>
                    <p class="date">Publicado el {{notice.created_at | dateformat}}</p>
                    <h1>{{notice.title}}</h1>
                    <h3 [innerHTML]="notice.description"></h3>
                </div>
                <div class="extra">
                    
                    <div>
                        <a href="/Tablero-de-Anuncios/">
                            <button mat-fab color="primary" style="background-color: rgb(0,26,56);">
                                    <fa-icon [icon]="['fas','undo']" style="font-size: 22px;"></fa-icon>
                            </button>
                        </a>
                    </div>
                
                    <div *ngIf="notice.link">
                        <a href="{{notice.link}}" >
                            <button mat-fab color="primary">
                                    <fa-icon [icon]="['fas','link']" style="font-size: 22px;"></fa-icon>
                            </button>
                        </a>
                    </div>
                
                    <div *ngIf="notice.creator === userinfo.username || userinfo.admintype == 'Total'">
                        <a class="stat"  href="editar/anuncio/{{notice._id}}">
                            <button mat-fab color="warn">
                                <fa-icon [icon]="['fas','edit']" style="font-size: 22px;"></fa-icon>
                            </button>
                        </a>
                    </div>

                    <div *ngIf="notice.picture">
                        <button (click)="imgfull()" mat-fab color="warn" class="zoomimg" *ngIf="notice.picture">
                            <fa-icon [icon]="['fas','image']" style="font-size: 22px;"></fa-icon>
                            <fa-icon [icon]="['fas','search']" style="font-size: 22px;"></fa-icon>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </mat-card>

    <div class="zoomedimg disapear" #imagediv>
        <img #image class="imagezoomed disapear" src="https://tablero-a-api.herokuapp.com/notices/notice/image/{{notice.picture}}" alt="Imagen de esta publicacion"/>
    </div>

    <div class="background disapear" #background (click)="imgdisapear()">
        <button mat-fab color="warn" class="backbut" *ngIf="notice.picture">
            <fa-icon [icon]="['fas','window-close']" style="font-size: 22px;"></fa-icon>
        </button>
    </div>
</main>
