main{
    margin: 10px;
}


.fullNotice{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.images{
    max-width: 90vw;
    max-height: 500px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.info{
    border-top: 0.5px solid rgb(211, 211, 211);
    margin-top: 10px;
    padding-top: 10px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info h3{
    white-space: pre-wrap;
}


.info * {
    margin: 5px 0px;
}

.extra{
    margin-right: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(191, 213, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: fit-content;
}

.information{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.importance{
    color: #A01010;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.date{
    color: #FF076E;
}

.info h1{
    font-size: 35px;
}

.info h3{
    font-size: 20px;
    text-align: left;
}

.info h1{
    line-height: 37px;
}

.zoomimg{
    display: inline;
    background-color: #10a05d;
}

.extra div {
    margin: 10px;
}

.zoomimg *{
    margin: 0px 1px;
}

.imagezoomed{
    width: 100%;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #105aa06b;
    width: 100%;
    height: 100%;
    z-index: 10;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.zoomedimg{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px 10px;
    overflow-y: scroll;
    max-height: 77vh;
    width: 95vw;
    z-index: 20;
    margin-top: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}

.zoomedimg::-webkit-scrollbar{
    display: none;
}

.backbut{
    margin-top: 90vh;
    margin-left: 43vw;
    background-color: white;
    color: black;
}

.disapear{
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}

.disapear2{
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

@media only screen and (min-width: 481px) and (max-width: 1023px){ 

    .info{
        width: 80vw;
    }

    .imagezoomed{
        width: 100%;
    }

    .images{
        max-width: 85vw;
    }

    .zoomedimg{
        position: fixed;
        top: 0;
        overflow-y: scroll;
        max-height: 77vh;
        margin-left: 90px;
        max-width: 87%;
        z-index: 20;
        margin-top: 80px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    
    .zoomedimg::-webkit-scrollbar{
        display: none;
    }
    
    .backbut{
        margin-top: 90vh;
        margin-left: 52vw;
        background-color: white;
        color: black;
    }

    .extra{
        width: fit-content;
    }


}

@media only screen and (min-width: 1024px){ 
    
    main{
        margin: 20px;
        padding-bottom: 10px;
    }

    .fullNotice{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .info{
        width: 45vw;
        border: none;
        margin: 0;
        padding: 10px;
        background-color: rgb(248, 248, 248);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        min-height: 50vh;
}

    .info h1{
        line-height: 45px;
        font-size: 45px;
    }

    .extra{
        display: flex;
        justify-content: flex-start;
        width: fit-content;
    }

    .extra a {
        transition: 300ms ease;
        -webkit-transition: 300ms ease;
        -moz-transition: 300ms ease;
        -ms-transition: 300ms ease;
        -o-transition: 300ms ease;
    }

button{
    transition: 300ms ease;
        -webkit-transition: 300ms ease;
        -moz-transition: 300ms ease;
        -ms-transition: 300ms ease;
        -o-transition: 300ms ease;
}

button:hover{
    transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}

    
    .images{
        max-width: 40vw;
        max-height: 550px;
}


.imagezoomed{
    width: 100%;
}



.zoomedimg{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px 170px;
    overflow-y: scroll;
    max-height: 89vh;
    width: 80vw;
    z-index: 20;
    margin-top: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.zoomedimg::-webkit-scrollbar{
    display: none;
}

.backbut{
    margin-left: 94vw;
    margin-top: 60px;
    background-color: white;
    color: black;
}



.information{
    flex-direction: column;
}


}