<mat-card>

<h2>Iniciar Sesión</h2>

<div class="error">
    <p>{{errors.emptyerror}}</p>
    <p>{{errors.adminerror}}</p>
    <p>{{errors.passworderror}}</p>
    <p>{{errors.problem}}</p>
</div>

<form (submit)='login($event)'>
    <div class="user space">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ej. mail123@email.com" [(ngModel)]="currentUser.email" name="username" id="username">
                <mat-hint>Inserta el email</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Porfavor ingresa un email válido
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    El email es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
    </div>
    
    <div class="pass space">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput [formControl]="passFormControl" [errorStateMatcher]="matcher"
                placeholder="Ej. Pass123..." name="password" id="password" [(ngModel)]="currentUser.password">
            <mat-hint>Inserta la contraseña</mat-hint>
            <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
                Usa al menos 8 caracteres
            </mat-error>
              <mat-error *ngIf="passFormControl.hasError('required')">
                La contraseña es <strong>requerida</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="space">
        <button mat-raised-button color="primary">Ingresar</button>
    </div>
</form>

<div class="forgot">
    <a href="olvide/contra">¿Olvidaste tu contraseña?</a>
</div>

</mat-card>