<mat-card>
    <div class="title">
        <h1><fa-icon [icon]="['fas','address-card']"></fa-icon> Tu perfil personal</h1>
    </div>

    <div class="info">
        <div class="firstname space">
            <h2>Nombre:</h2>
            <h3>{{userinfo.firstname}}</h3>
        </div>
        
        <div class="lastname space">
            <h2>Apellido:</h2>
            <h3>{{userinfo.lastname}}</h3>
        </div>
        
        <div class="username space">
            <h2>Usuario:</h2>
            <h3>{{userinfo.username}}</h3>
        </div>
        
        <div class="email space">
            <h2>Email:</h2>
            <h3>{{userinfo.email}}</h3>
        </div>
    </div>

    <div class="access space">
        <h4 *ngIf="userinfo.admintype == 'Total'">
            Tienes <strong>ACCESO TOTAL</strong> a todas las funciones de la plataforma, puedes:
        
            <ul>
                <li>Ver y leer anuncios publicados</li>
                <li>Publicar anuncios</li>
                <li>Editar todos los anuncios</li>
                <li>Cambiar los códigos de acceso para crear usuarios</li>
                <li>Contribuir a llenar los registros telefónicos</li>
                <li>Visualizar la informacion de los registros telefónicos</li>
            </ul>
        </h4>
        
        <h4 *ngIf="userinfo.admintype == 'Normal'">
            Tienes <strong>ACCESO NORMAL</strong> a algunas funciones de la plataforma, puedes:
            <ul>
                <li>Ver y leer anuncios publicados</li>
                <li>Publicar anuncios</li>
                <li>Editar tus propios anuncios</li>
                <li>Contribuir a llenar los registros telefónicos</li>
                <li>Visualizar la informacion de los registros telefónicos</li>
            </ul>
        </h4>
        
        <h4 *ngIf="userinfo.admintype == 'Register'">
            Tienes <strong>ACCESO A LOS REGISTROS</strong> de la plataforma, puedes:
            <ul>
                <li>Ver y leer anuncios publicados</li>
                <li>Contribuir a llenar los registros telefónicos</li>
            </ul>
        </h4>
    </div>

    <div class="note">
        <p><strong>Nota:</strong> Actualmente no es posible actualizar la Información
        de tu perfil, esto estará disponible proximamente. Si desea cambiar algún dato
        de su cuenta porfavor pongase en contacto con el administrador de la aplicación. O utilize la funcion (Olvide mi contraseña)
        para cambiar esta.
    </p>
    </div>

    <mat-accordion *ngIf="reserved.length > 0">
        <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tus numeros reservados
            </mat-panel-title>
            <mat-panel-description>
                <p>Toca para ver</p>
            </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div class="num" *ngFor="let number of reserved">
            <mat-accordion >
                <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{number.number}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <p><strong>Lo reservaste</strong></p>
                    </mat-panel-description>
                </mat-expansion-panel-header>
            
                <div class="date">
                    <h4 *ngIf="number.updated_at !== '1970-01-01T00:00:00.000Z'"><strong>Llamado el {{number.updated_at | dateformat}}</strong></h4>
                    <h4 *ngIf="number.updated_at === '1970-01-01T00:00:00.000Z'"><strong>No ha sido llamado todavía</strong></h4>
                </div>
                <p><strong>Publicador:</strong> {{number.publisher || "No Disponible"}}</p>
                <p><strong>Este número:</strong> {{number.info || "No se ha llamado"}}</p>
                <p><strong>Quién contestó:</strong> {{number.type || "N/A"}}</p>
                <p><strong>Notas:</strong> {{number.notes || "Sin Nota"}}</p>
            
            
                <form class="space" (submit)="unRegister($event)">
                    <input type="hidden" value="{{number._id}}" name="remove" id="remove"/>
                    <button mat-raised-button color="primary">Quitar Reservación</button>
                </form>
            
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    
        </mat-expansion-panel>
    </mat-accordion>

</mat-card>




