<div class="main">
    
    <mat-card class="publish" >
        <h1 class="maininfo"><fa-icon [icon]="['fas','feather']"></fa-icon> Publicar un anuncio Nuevo</h1>
        <div class="error">
            {{msj.problem}}
        </div>
    <form (submit)="createnotice($event)">


        {{msj.problem}}

        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Título</mat-label>
                <input type="text" matInput [formControl]="titleFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ej. Anuncio Publico" name="title" [(ngModel)]="newNotice.title">
                <mat-hint>Inserta el título {{newNotice.title.length}} / 200</mat-hint>
                <mat-error *ngIf="titleFormControl.hasError('maxlength') && !titleFormControl.hasError('required')">
                    Usa máximo 200 caracteres 
                </mat-error>
                <mat-error *ngIf="titleFormControl.hasError('minlength') && !titleFormControl.hasError('required')">
                Usa mínimo 5 caracteres 
                </mat-error>
                <mat-error *ngIf="titleFormControl.hasError('required')">
                El título es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>



        <div class="descriptionspace">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea matInput [formControl]="descriptionFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ej. Anuncio Publico" name="description" [(ngModel)]="newNotice.description"></textarea>
                <mat-hint>Inserta la descripción</mat-hint>
                <mat-error *ngIf="descriptionFormControl.hasError('minlength') && !descriptionFormControl.hasError('required')">
                    Usa mínimo 8 caracteres 
                </mat-error>
                <mat-error *ngIf="descriptionFormControl.hasError('required')">
                La descripción es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>
        </div>
    
        
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Enlace</mat-label>
                <input type="url" class="linkin" matInput placeholder="Ir a..." name="link" [(ngModel)]="newNotice.link">
                <mat-hint>Opcional: Incluye un enlace</mat-hint>
            </mat-form-field>
        </div>


        
            <div class="file-input">
                <input class="file" id="file" type="file" name="picture" (change)='selectedIMG($event)' accept="image/png, image/gif, image/jpeg"/>
                <label for="file" *ngIf="!imgnameprev">Incluye Imagen</label>
                <label for="file" *ngIf="imgnameprev">{{imgnameprev}}</label>
            </div>
            
            
            <div>
                <mat-checkbox class="example-margin" name="importance" [(ngModel)]="newNotice.importance" 
                labelPosition = "before" color="warn">Importante</mat-checkbox>
            </div>
        
    
        <div class="but">
            <button class="sub" mat-raised-button  color="primary">Publicar</button>
            <button type="button" class="prevbut" mat-raised-button  color="warn" (click)="mobilepreview()">Ver</button>
        </div>

    </form>

    </mat-card>
    


    <div class="preview" #cardpreview>
        <mat-card>
        <!-- card--------------------------------------------------------------- -->
        
            <div class="notice-holder">
                <div class="notice" >          
                        <div class="notice-image">
                            <div class="important">
                                <p *ngIf="newNotice.importance">
                                    <fa-icon [icon]="['fas','exclamation-circle']" style="font-size: 40px; color: rgb(160, 16, 16);"></fa-icon>
                                </p>
                            </div>
                            <img class="image" *ngIf="imgprev" [src]="imgprev" alt="Imagen"/>
                            <img class="image" *ngIf="!imgprev" src="https://images.assetsdelivery.com/compings_v2/provector/provector1501/provector150100121.jpg" alt="Imagen"/>
                        </div>
                        <div class="notice-text">
                            <span class="date">Publicado hoy</span>
                            <div class="titlecont">
                                <h2 *ngIf="newNotice.title">{{newNotice.title}}</h2>
                                <h2 *ngIf="!newNotice.title">Tu anuncio se verá así</h2>
                            </div>
                            <div class="descriptioncont">
                                <p class="desc" [innerHTML]='newNotice.description.split("&nbsp;").join(" ")'></p>
                            </div>
                        </div>
                        
                        <!-- No Important -->
                        <div class="notice-stats" *ngIf="!newNotice.importance">
            
                            <a class="stat read minfo" >
                                <div class="value">
                                    <a >
                                        <fa-icon [icon]="['fas','book-open']"></fa-icon>
                                    </a>
                                </div>
                                <div class="type">
                                    <a>
                                        Mas info.
                                    </a>
                                </div>
                            </a>
                            
                            <a class="stat" *ngIf="newNotice.link" href="{{newNotice.link}}" target="_blank">
                                <div class="value">
                                    <a href="{{newNotice.link}}" target="_blank">
                                        <fa-icon [icon]="['fas','link']"></fa-icon>
                                    </a>
                                </div>
                                <div class="type">
                                    <a href="{{newNotice.link}}" target="_blank">
                                        Enlace
                                    </a>
                                </div>
                            </a>
            
                            <!-- <a class="stat"  href="editar/anuncio/{{notice._id}}" *ngIf="notice.creator === username || admintype == 'Total' ">
                                <div class="value">
                                    <a href="editar/anuncio/{{notice._id}}">
                                        <fa-icon [icon]="['fas','edit']"></fa-icon>
                                    </a>
                                </div>
                                <div class="type">
                                    <a href="editar/anuncio/{{notice._id}}">
                                        Editar
                                    </a>
                                </div>
                            </a> -->
            
                            
                        </div>
        
                        <!-- Important -->
                        <div class="notice-stats importantstats" *ngIf="newNotice.importance">
            
                            <a class="stat read" href="nuevo/anuncio/#">
                                <div class="value">
                                    <a href="nuevo/anuncio/#">
                                        <fa-icon [icon]="['fas','book-open']"></fa-icon>
                                    </a>
                                </div>
                                <div class="type">
                                    <a href="nuevo/anuncio/#">
                                        Mas info.
                                    </a>
                                </div>
                            </a>
                            
                            <a class="stat" *ngIf="newNotice.link" href="{{newNotice.link}}">
                                <div class="value">
                                    <a href="{{newNotice.link}}">
                                        <fa-icon [icon]="['fas','link']"></fa-icon>
                                    </a>
                                </div>
                                <div class="type">
                                    <a href="{{newNotice.link}}">
                                        Enlace
                                    </a>
                                </div>
                            </a>
            
                            <!-- <a class="stat"  href="editar/anuncio/{{notice._id}}" *ngIf="notice.creator === username || admintype == 'Total' ">
                                <div class="value">
                                    <a href="editar/anuncio/{{notice._id}}">
                                        <fa-icon [icon]="['fas','edit']"></fa-icon>
                                    </a>
                                </div>
                                <div class="type">
                                    <a href="editar/anuncio/{{notice._id}}">
                                        Editar
                                    </a>
                                </div>
                            </a> -->
            
                            
                        </div>
        
        
                </div>
            </div>
        
        </mat-card>
    </div>
    
    
</div>