.notice-holder{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    overflow: -moz-hidden-unscrollable;
}

.notice{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px ;
    -webkit-border-radius: 18px ;
    -moz-border-radius: 18px ;
    -ms-border-radius: 18px ;
    -o-border-radius: 18px ;
    margin: 10px;

    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
}

.notice-image{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    overflow: hidden;
}


.notice-text{
    grid-area: text;
    margin: 25px;
    overflow: visible;
    position: relative;
}

.notice-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.notice-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.notice-text h2{
    margin-top: 0px;
    font-size: 25px;
}

.notice-stats{
    grid-area: stats;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; */
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px ;
    background: #003367;
}

.notice-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:10px;
    text-decoration: none;
    width: 70px;
    color: white;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}


.notice-stats .stat a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.notice-stats .stat:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* .notice:hover {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
} */

.notice {
    transition: 0.5s ease;
    margin:20px;
}

.important {
    border-radius: 100px;
    padding: 1px 10px;
    z-index: 5;
    position: absolute;
    top: -37px;
    left: -20px;
    background-color: rgb(160, 16, 16);
    color: rgb(255, 255, 255) !important;
    font-weight: 500 !important;
    border: 2px solid rgb(160, 16, 16);
    box-shadow: 1px 1px 2px  black;
}

.importantstats{
    background-color: rgb(160, 16, 16);
}

.titlecont{
    height: 65px;
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.minfo:hover{
    cursor: pointer;
}

.descriptioncont{
    margin-top: 10px;
    overflow: hidden;
    width:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.publish{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
}

form div{
    margin: 10px 0px;
}

mat-card{
    margin: 10px 7px;
}

.descriptionspace textarea {
    height: 150px;
}



.example-full-width {
    width: 90vw;
} 

.maininfo{
    font-weight: 600;
    font-size: 34px;
    text-align: center;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    min-width: 190px;
    min-height: 40px;
    padding: 5px 10px;
    border-radius: 25px;
    background: linear-gradient(50deg, #d16c0d, #082575);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

input:hover + label,
input:focus + label {
    transform: scale(1.02);
}

.preview{
    display: none;
}

.appear{
    display: block;
}

.but{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
}

.but button{
    width: 100px;
}

.extra-options{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.prevcard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.but .sub{
    width: 35vw;
    height: 40px;
    font-size: 20px;
    background-color: #003367;
}

.but .prevbut{
    width: 35vw;
    height: 40px;
    font-size: 20px;
    background-color: #eb4015;
}

.error{
    height: 20px;
    color: red;
}

.hideinfo{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: 400ms;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -ms-transition: 400ms;
    -o-transition: 400ms;
    top: 2vh;
    z-index: 20;
}

.hidebg{
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 250vh;
    background: #00346756;
}

.info{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    top: 2vh;
    z-index: 20;
}

.bg{
    visibility: visible;
    position: fixed;
    width: 100vw;
    height: 250vh;
    background: #00346756;
}


.delete-info{
    position: relative;
}

.cancel{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cancel button{
    font-size: 27px;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: none;
}

.error span{
    color: green;
}


@media only screen and (min-width: 481px) and (max-width: 1023px){ 

.but .sub{
    width: 25vw;
    height: 45px;
    font-size: 25px;
    background-color: #003367;
}

.but .prevbut{
    width: 25vw;
    height: 45px;
    font-size: 25px;
    background-color: #eb4015;
}

.descriptionspace textarea {
    height: 250px;
}


.main{
    flex-direction: column;
    align-items: center;
}

.example-full-width {
    width: 70vw;
} 

form{
    width: 80vw;
}

.preview{
    width: 50vw;
}

.extra-options{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.info{
    top: 10vh;
    width: 60vw;
}


.hideinfo{
    top: 10vh;
    width: 60vw;
}





}

@media only screen and (min-width: 1024px){ 

.but .sub{
    width: 25vw;
    height: 45px;
    font-size: 25px;
}

.preview{
    display: block;
}

.prevbut{
    display: none;
}

.but{
    width: auto;
}

.main{
    flex-direction: row;
}

.example-full-width {
    width: 45vw;
} 

form{
    width: auto;
}

.preview{
    width: 40vw;
}

.descriptionspace textarea {
    height: 65px;
}

.extra-options{
    display: flex;
    justify-content: space-between;
    width: 15vw;
}

button{
    transition: 300ms ease;
        -webkit-transition: 300ms ease;
        -moz-transition: 300ms ease;
        -ms-transition: 300ms ease;
        -o-transition: 300ms ease;
}

button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.info{
    top: 20vh;
    width: 40vw;
}


.hideinfo{
    top: 20vh;
    width: 40vw;
}

}