/*! Roboto Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    padding: 0;
    margin: 0;
}

:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}


.info{
    padding: 0rem;
    padding-bottom: 5rem;
    margin-top: 4rem;
}



@media only screen and (min-width: 481px) and (max-width: 1023px){ 

    .info{
        padding: 0rem;
        padding-left: 5rem;
    }
}

@media only screen and (min-width: 1024px){ 

    .info{
        padding: 0rem;
        padding-left: 5rem;
    }
    
}



