/* You can add global styles to this file, and also import other style files */
/*! Roboto Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
}

:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #ff0000;
    --bg-secondary: #003367;
    --transition-speed: 600ms;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #727374;
}

body::-webkit-scrollbar-thumb {
    background: #003367;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
