<mat-card>

<h2>Registarse</h2>
<div class="forgot">
    <a href="/Tablero-de-Anuncios/ingresar">¿Ya te registraste antes? Inicia Sesión</a>
</div>

<form (submit)="register($event)">
    <div class="firstname">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher"
                placeholder="Ej. Anuncio Publico" name="firstname" id="firstname" [(ngModel)]="newUser.firstname">
            <mat-hint>Inserta el nombre {{newUser.firstname.length}}/20</mat-hint>
            <mat-error *ngIf="nameFormControl.hasError('minlength') && !nameFormControl.hasError('required')">
                Usa mínimo 3 caracteres
            </mat-error>
            <mat-error *ngIf="nameFormControl.hasError('maxlength') && !nameFormControl.hasError('required')">
                Usa máximo 20 caracteres 
            </mat-error>
            <mat-error *ngIf="nameFormControl.hasError('required')">
                El nombre es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="lastname">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input type="text" matInput [formControl]="lastnameFormControl" [errorStateMatcher]="matcher"
                placeholder="Ej. Anuncio Publico" name="lastname" id="lastname" [(ngModel)]="newUser.lastname">
            <mat-hint>Inserta el apellido {{newUser.lastname.length}}/20</mat-hint>
            <mat-error *ngIf="lastnameFormControl.hasError('minlength') && !lastnameFormControl.hasError('required')">
                Usa mínimo 3 caracteres
            </mat-error>
            <mat-error *ngIf="lastnameFormControl.hasError('maxlength') && !lastnameFormControl.hasError('required')">
                Usa máximo 20 caracteres 
            </mat-error>
            <mat-error *ngIf="lastnameFormControl.hasError('required')">
                El apellido es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

    </div>

    <div class="Email">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ej. Anuncio Publico" [(ngModel)]="newUser.email" name="username" id="username">
            <mat-hint>Inserta el email</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Porfavor ingresa un email válido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                El email es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="username">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input type="text" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
                placeholder="Ej. Anuncio Publico" name="username" id="username" [(ngModel)]="newUser.username">
            <mat-hint>Inserta el usuario</mat-hint>
            <mat-error *ngIf="usernameFormControl.hasError('pattern') && !usernameFormControl.hasError('required')">
                El usuario no puede tener espacios
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('required')">
                El usuario es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
    </div>


    <div class="password">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput [formControl]="passFormControl" [errorStateMatcher]="matcher"
                placeholder="Ej. Anuncio Publico" name="password" id="password" [(ngModel)]="newUser.password">
            <mat-hint>Inserta la contraseña</mat-hint>
            <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
                Usa mínimo 8 caracteres
            </mat-error>
            <mat-error *ngIf="passFormControl.hasError('pattern') && !passFormControl.hasError('required')">
                La contraseña no puede tener espacios
            </mat-error>
            <mat-error *ngIf="passFormControl.hasError('required')">
                La contraseña es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="confpass">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirma la contraseña</mat-label>
            <input type="password" matInput [formControl]="confpassFormControl" [errorStateMatcher]="matcher"
                placeholder="Ej. Anuncio Publico" name="confpass" id="confpass" [(ngModel)]="newUser.confpass">
            <mat-hint>Inserta la confirmación</mat-hint>
            <mat-error *ngIf="confpassFormControl.hasError('minlength') && !confpassFormControl.hasError('required')">
                Usa mínimo 8 caracteres
            </mat-error>
            <mat-error *ngIf="confpassFormControl.hasError('pattern') && !confpassFormControl.hasError('required')">
                La confirmación no puede tener espacios
            </mat-error>
            <mat-error *ngIf="confpassFormControl.hasError('required')">
                La confirmación es <strong>requerida</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="admincode">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Codigo de administrador</mat-label>
            <input type="password" matInput [formControl]="codeFormControl" [errorStateMatcher]="matcher"
                placeholder="Ej. Anuncio Publico" name="admincode" id="admincode" [(ngModel)]="newUser.admincode">
            <mat-hint>Inserta el codigo</mat-hint>
            <mat-error *ngIf="codeFormControl.hasError('minlength') && !codeFormControl.hasError('required')">
                Usa mínimo 5 caracteres
            </mat-error>
            <mat-error *ngIf="codeFormControl.hasError('pattern') && !codeFormControl.hasError('required')">
                El codigo no puede tener espacios
            </mat-error>
            <mat-error *ngIf="codeFormControl.hasError('required')">
                El codigo es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="error">
        <p>{{errors.problem}}</p>
        <p>{{errors.emptyerror}}</p>
        <p>{{errors.firstnamelen}}</p>
        <p>{{errors.lastnamelen}}</p>
        <p>{{errors.usernamelen}}</p>
        <p>{{errors.emailUsed}}</p>
        <p>{{errors.usernameUsed}}</p>
        <p>{{errors.passlen}}</p>
        <p>{{errors.passnotmatch}}</p>
        <p>{{errors.coderror}}</p>
    </div>

    <div class="space">
        <button mat-raised-button color="primary">Registrarse</button>
    </div>
</form>


</mat-card>



